

<head>
  <meta charset="UTF-8">
  <title>iFrame Container</title>

  
  <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css'>
  <link rel="shortcut icon" href="http://example.com/favicon.ico" />
  
  
</head>

<script>
function adjustIframes()
{
  $('iframe').each(function(){
    var
    $this       = $(this),
    proportion  = $this.data( 'proportion' ),
    w           = $this.attr('width'),
    actual_w    = $this.width();
    
    if ( ! proportion )
    {
        proportion = $this.attr('height') / w;
        $this.data( 'proportion', proportion );
    }
  
    if ( actual_w != w )
    {
        $this.css( 'height', Math.round( actual_w * proportion ) + 'px' );
    }
  });
}
$(window).on('resize load',adjustIframes);

maybe also need this:

jQuery(document).ready(function($) {
    $(window).on('resize load', adjustIframes);
    adjustIframes();
});
</script>


<style>

.iframe {
  max-width: 100%;
}

/* TODO: Clean up this mess */

:root {
  --ws: 4em;
}

html,
body {
  height: 100%;
}

body {
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI","Roboto","Helvetica Neue", Arial, sans-serif;
  background: #F4F8FB;
}

.widget {
  position: relative;
  width: 300px;
  height: 300px;
  position: fixed;
  bottom: 2em;
  right: 2em;
  visibility: hidden;
  cursor: pointer;
}

.widget > * {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.today {
  opacity: 0;
  visibility: hidden;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
  color: #025450;
}

a,
a:hover,
a:focus {
  color: #fff;
}

.full,
.inner {
  overflow: hidden;
  transform-origin: top left;
  visibility: hidden;
  transition: transform .4s cubic-bezier(.2, 0, .2, 1);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /*box-shadow: inset 0 0 0 2px #74e4a2;*/
  will-change: transform;
}

.full {
  transform: translate(calc(100% - var(--ws)), calc(100% - var(--ws)));
}

.inner {
  transform: translate(calc(-100% + var(--ws)), calc(-100% + var(--ws)));
}

.widget:focus-within .full,
.widget:focus-within .inner {
  transform: none;
}
.widget:focus-within .content {
  opacity: 1;
  transition: .1s linear;
}

.content {
  position: absolute;
  visibility: visible;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px var(--ws) 20px 20px;
  opacity: 0;
  background: linear-gradient(to bottom, #64ce8f calc(100% - 65px), #74e4a2 0);
  border-radius: 4px 4px 2em 4px;
  transition: .1s .18s linear;
  will-change: opacity;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.content {
  display: grid;
  grid: auto-flow max-content / repeat(2, max-content);
  grid-gap: 10px 20px;
}

.content:after {
  content: 'Removable';
  text-transform: uppercase;
  position: absolute;
  bottom: 0.6em;
  left: 20px;
  font-weight: 900;
  font-size: 24px;
  /*transition: .4s cubic-bezier(.2, 0, .2, 1);
  transform: translateX(10px);*/
  color: #025450;
  opacity: 0.7;
  will-change: transform;
}

/*.widget:focus-within .content:after {
transform: none;
}*/

.widget .bg {
  overflow: hidden;
  width: var(--ws);
  height: var(--ws);
  transform: translate(calc(300px - 100%), calc(300px - 100%));
  z-index: 1;
  position: absolute;
  visibility: visible;
  top: 0;
  left: 0;
  border-radius: 50%;
  background: #74e4a2;
  transition: opacity .3s linear;
  outline: none;
}
.widget:focus-within .bg {
  pointer-events: none;
}

.bg svg {
  pointer-events: none;
  padding: 8px;
  width: 100%;
  transition: .2s;
  filter: drop-shadow(0 1px 2px #6dde9c);
}
.bg:hover svg {
  transform: scale(1.08);
}
.bg svg path {
  fill: #fff;
}

/*.widget li {
transform: translate(5px, 15px);
transition: .3s cubic-bezier(.2, 0, .2, 1);
will-change: transform;
}
.widget:focus-within li:nth-child(3) {
transition-delay: .025s
}
.widget:focus-within li:nth-child(2) {
transition-delay: .05s
}
.widget:focus-within li:nth-child(1) {
transition-delay: .075s
}

.widget:focus-within li {
transform: none;
transition: .3s cubic-bezier(.2, 0, .2, 1);
}*/

span {
  color: #025450;
}

span:nth-of-type(-n+2) {
  font-weight: 900;
  font-size: 1.4em;
}

.link {
  grid-column: 1 / -1;
}
</style>


<iframe frameborder="0" height="100%" src="https://www.urbandictionary.com/" width="100%"></iframe>

<div class="widget">
  <div class="full">
    <div class="inner">
      <b class="bg" tabindex="0">
        <svg viewBox="0 0 32 32">
          <path d="M21.999 21c-.19 0-.383-.055-.554-.168l-6-4C15.167 16.646 15 16.334 15 16V6c0-.552.448-1 1-1s1 .448 1 1v9.465l5.555 3.703c.46.307.584.927.277 1.387-.192.289-.51.445-.833.445z"/>
          <path d="M16 32C7.178 32 0 24.822 0 16S7.178 0 16 0s16 7.178 16 16-7.178 16-16 16zm0-30C8.28 2 2 8.28 2 16s6.28 14 14 14 14-6.28 14-14S23.72 2 16 2z"/>
        </svg>
      </b>
      <div class="content">
        <span class="day">Copyright 2018</span>
        <span class="hours"></span>
        <span class="day">.Eleven Eighteen Space {</span>
        <span class="hours"></span>
        <span class="day"></span>
        <span class="hours"></span>
        <span class="day">Written by:</span>
        <span class="hours"></span>
        <span class="day">Maximenz</span>
        <span class="hours"></span>
        <a class="link" href="#0"></a>
      </div>
    </div>
  </div>
</div>
